#main {
  display: flex;
  justify-content: center;
}

#main nav {
  width: 100px;
  background-color: aqua;
}

#translation-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 800px;
}

.square {
  flex: 1;
  width: calc(100% - 15px);
  height: 50vh;
  border: 2px solid white;
  background: gray;
  right: -11px;
}

.square img,
.square canvas {
  height: 100%;
  display: block;
  margin: auto;
}